<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NER FLASK APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body style="background-color: black; color:white">
   <h1>Welcome to NER FLASK App</h1>

   <div id="NER" style="width:75%; font-size:150%; margin:auto; background-color:grey; color:black;"> {{ result }}</div>

   <form ID='user' action="{{ url_for('go_home') }}" method='post' style="text-align:center">
        <input type="submit" style="display: none" />
        <label for="userbox"> ENTER YOUR OWN: <textarea name="userbox" style="border-color:black;border-radius:50; width:60%; font-size:200%; "></textarea></label><br>
        <button type="submit" style="width: 20em;  height: 2em; margin:auto">GET SPACY</button>
   </form>
</body>
</html>